# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Environment Variables
.env*
!.env.example

# Custom / Agent Specific
.agents/
skills-lock.json
metadata.json

# Android Build Temporary Files
android/.gradle_temp/


# Notes
g&w.md